/.idea/
/.mvn/
src/test/resources
/target/

src/main/resources/application.properties
src/main/resources/META-INF/additional-spring-configuration-metadata.json
dependency-reduced-pom.xml
mvnw
mvnw.cmd
todo
file-service.iml

